:root {
    --color-background: #0e0c18;
    --color-primary: #42486b;
    --color-secondary: #222034;
    --color-secondary-dark: #141022;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: unset;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: unset;
    color: inherit;
    image-rendering: pixelated;
    user-select: unset;
}

html, body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-background) !important;
    font-family: LazyFox6, serif;
    font-size: 10px;
    line-height: 5px;
    color: var(--color-primary);
}